<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Covid-19 Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
<div class ="Container">
<h1>Covid-19 Tracker</h1>
<p>This Application Tracks Covid-19 Cases </p>
   
<div class="jumbotron">
  <h1 class="display-4" th:text="${totalCases}"></h1>
  <p class="lead">Total Cases reported as of today.</p>
  <hr class="my-4">
  <p>
  		<span> New Cases Reported since previous Day</span>
  		<span th:text="${totalNewCases}"></span>
  </p>		 
  
</div>
	<table class="table">
      <tr>
        <th>State</th>
        <th>Country</th>
        <th>Total Cases</th>
        <th>Changes since yesterday</th>
      </tr>
      <tr th:each="record : ${records}">
        <td th:text="${record.state}"></td>
        <td th:text="${record.country}"></td>
        <td th:text="${record.totalCases}">0</td>
        <td th:text="${record.prevDayCases}">0</td>
      </tr>
    </table>
</div>  
  </body>

</html>